{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block body %}
<h1>
    Hello World!
</h1>
<p>EasyPHP-boilerplate homepage</p>
{% endblock %}